/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/
debug_*
*.txt

/*
!.gitignore
!LICENSE
!README.md
!Gemfile
!Rakefile
!ru.rb
!config.ru
!app.rb
!start.bat
!start.sh
!env.bat
!env.sh
!/public/
!/config/
!/views/
!/spec/

